body {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;

    background-color: #1E1E1E;
}

#barre_gauche {
    display: inline-block;
    width: 20%;
    background-color: #ebebeb;
    height: 957px;
}

#barre_gauche div {
    
    width: 50%;
    height: 250px;

    margin: 50px auto;

}

#barre_gauche h2 {
    text-align: center;
    font-size: 40px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-top: 0;
}

#div_blue {
    background-color: blue;
    margin-top: -20px !important;
}

#div_green {
    background-color: green;
}

#div_pink {
    background-color: pink;
}

body>div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding-left: 15px;
    padding-top: 15px;
    padding-right: 15px;

    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

    overflow-wrap: break-word;
}

.menu_post_it {
    align-self: flex-end;
    font-size: 20px;
}

.fas, .far {

    padding: 5px 3px;

}

button {
    margin: auto;

    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

    position: absolute;
    right: 20px;
    bottom: 20px;
    
}